/* add your CSS here */
.card {
  width: 300px;
  border: 1px;
  box-shadow: 15px 14px 58px -16px rgba(0,0,0,0.79);
  /* background-color: #f7caca; */
  border-radius: 18px 18px 18px 18px;
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 0%, rgba(247,202,202,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7caca', GradientType=1 );
  padding: 1em;
  padding-bottom: 1em;
  padding-top: 0.5em;
  margin:auto;
  height: auto;
}

h1 {
  padding: 0.5em;
  color: black;
  font-family: "Century Gothic", "Century Gothic", "Apple Gothic", sans-serif;
  font-family: 'Coustard', serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 520;
	line-height: 1px;
  text-align: center;
}
.image {
  width:300px;
  size:300px;
  border: 2px solid #4d4d4d;
  border-radius: 15px 15px 0px 0px;
  margin-left: auto;
  margin-right: auto;
}
.lower-card {
  size: 300px;
  width: 270px;
  height: 295px;
  padding: 15px;
  padding-top: 0em;
  background: #f9eded;
  background: #3f382c52;
  border: 2px solid #4d4d4d;
  border-radius: 0px 0px 15px 15px;
  text-align: justify;
  font-family: Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-family: font-family: 'Work Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding-bottom: 0em;
  height:auto;
  margin: auto;
}
ul {
  list-style: none;
  text-align: left;
  padding: 0.5px;
  padding-bottom:0px;
}
.interesting-fact {
  font-style: italic;
}
span {
  font-weight: bold;
}
